
.tileContainer {
    padding: 10px;
    margin: 5px;
    display: flex;
    box-shadow: 5px 5px 4px #4d4d4d;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid #4d4d4d;
    width: 300px;
    height: auto;
    font-size: 12px;
}
.tileContainer:hover {
    cursor: pointer;
}
.tilePropertyContainer {
    overflow: hidden;
    max-width: 50%;
    height: 100%;
    text-align: left;
}

.tileHeader {
    font-size: 13px;
    font-weight: bold;
}
.tileTitle {
    font-size: 15px;
}

.posterContainer {
    overflow: hidden;
}